:root{
  --dark-blue: #031020;
  --red: #B11B1B;
  --grey-light: #DFDFDF;
}

.ItemDetail__container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 100px auto;
  padding: 45px 30px;
  background-color: #fff;
}

.ItemDetail__container >div>figure>img{
  width: 500px;
}

.ItemDetail__content{
  padding: 0 0 0 50px;
}

.ItemDetail__precio{
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.ItemDetail__titulo{
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.ItemDetail__text, .categoria, .stock{
  color: var(--red);
  font-weight: 500;
  margin-bottom: 8px;
}

.ItemDetail__descripcion{
  margin: 30px 0;
}

.ItemDetail__galery img{
  max-height: 130px;
  margin-top: 30px;
  padding: 10px;
}

.itemDetail__btn{
  padding: 10px 20px;
  background-color: var(--red);
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.itemDetail__btn:hover{
  background-color: #fff;
  color: var(--red);
  border: 2px solid var(--red);
}