.CartWidget__header{
  display: flex;
  align-items: center;
  background-color: var(--red);
  height: 35px;
  width: 87px;
  padding: 8px;
  border-radius: 50px;
}

.CartWidget__txt{
  color: #fff;
  padding-left: 15px;
  text-decoration: none;
}

