
:root{
  --dark-blue: #031020;
  --red: #B11B1B;
  --grey-light: #DFDFDF;
}

.footer__container{
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  border-top: 5px solid var(--red);
}

.footer__text{
  color: var(--grey-light);
}