body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(243, 243, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
