:root{
  --dark-blue: #031020;
  --red: #B11B1B;
  --grey-light: #DFDFDF;
}

.itemCount__count__container{
  display: flex;
  flex-direction: column;
  width: 220px;
  border-radius: 5px;
}

.itemCount__count__btn{
  width: 30px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: var(--grey-light);
}

.itemCount__count__btn:hover{
  background-color: var(--red);
  color: #fff
}

.itemCount__countbtn{
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--grey-light);
}

.itemCount__btn__add{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: var(--red);
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.itemCount__btn__add:hover{
  background-color: #fff;
  color: var(--red);
  border: 2px solid var(--red);
}